.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.submit-btn {
  border: none;
  border-radius: 20px;
  background-color: #00a6ff;
  padding: 10px 30px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.graph {
  width: 550px;
  height: 500px;
}

h3 {
  font-size: 20px;
}